@model Dish


@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div style="display: flex; justify-content: space-evenly">
        <p>
        </p>
        <div>
            <ul style="display: flex; flex-direction:column; margin-right: 450px;">
                @foreach (Dish dish in ViewBag.AllDishes)
                {
                    <a href="/dish/@dish.DishID">@dish.Name</a>
                }
            </ul>
        </div>
    </div>
</div>

</div>
